*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  background-color: lightgray;
  color: rgb(103, 21, 103);
  text-align: center;
}
h1 {
  margin: 1.1rem auto 0 auto;
  max-width: 500px;
}
#afterHero {
  display: block;
  margin: 0 auto;
}
section {
  max-width: 500px;
}
label,
input,
button {
  display: block;
  text-align: center;
  margin: 1.02rem auto 0 auto;
}
.drawerBody {
  border: 2px solid rgb(103, 21, 103);
  background-color: rgb(103, 21, 103);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 250px;
  margin: 0 auto;
}
#changeWrapper {
  background-color: white;
  width: fit-content;
  justify-self: end;
  padding: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  top: -15px;
}
.price {
  border: 5px solid rgb(103, 21, 103);
  width: 125px;
  margin: 1rem auto 0 auto;
  position: relative;
  left: -35px;
}
#drawerConnection {
  background-color: rgb(103, 21, 103);
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  left: -70px;
}
#drawerButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30%;
  position: relative;
  top: 20px;
  left: 5px;
  margin-top: 0;
  row-gap: 3px;
}
#drawerButtons div {
  background-color: lightgray;
  border: 1px solid lightgray;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  margin-top: 0;
}
#changeWrapper > p {
  text-align: center;
}
#drawerStand {
  height: 30px;
  background-color: rgb(103, 21, 103);
  width: 250px;
  margin: 0.55rem auto 0 auto;
}
#drawerStand div {
  border: 1px solid lightgray;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background-color: lightgray;
  margin: auto auto;
  position: relative;
  top: 8px;
}
